In [197]:
import pandas as pd

In [198]:
df=pd.read_csv("womens_world_cup_data.txt", encoding="latin-1", sep="\t")

In [199]:
newdata=pd.DataFrame(df)
newdata

,Team_i,Team_j,home_i,home_j,score_i,score_j,date
0,china,thailand,0,0,4,0,6 April 2018
1,jordan,philippines,1,0,1,2,6 April 2018
2,philippines,china,0,0,0,3,9 April 2018
3,thailand,jordan,0,1,6,1,9 April 2018
4,jordan,china,1,0,1,8,12 April 2018
...,...,...,...,...,...,...,...
320,spain,south africa,0,0,3,1,8-Jun-19
321,norway,nigeria,0,0,3,0,8-Jun-19
322,australia,italy,0,0,1,2,9-Jun-19
323,brazil,jamaica,0,0,3,0,9-Jun-19
324,england,scotland,0,0,2,1,9-Jun-19

In [200]:
iwinner=newdata[newdata["score_i"]>newdata["score_j"]]["Team_i"]
iwinner

0            china
3         thailand
5         thailand
6            japan
11     south korea
          ...
319        germany
320          spain
321         norway
323         brazil
324        england
Name: Team_i, Length: 151, dtype: object

In [201]:
jwinner=newdata[newdata["score_j"]>newdata["score_i"]]["Team_j"]
jwinner

1      philippines
2            china
4            china
9        australia
12     south korea
          ...
304        austria
307       portugal
309        england
312        denmark
322          italy
Name: Team_j, Length: 125, dtype: object

In [202]:
iwinner.value_counts()

netherlands         10
england              9
brazil               9
united states        8
spain                6
germany              6
sweden               6
scotland             5
norway               5
switzerland          4
canada               4
australia            4
italy                4
france               4
denmark              3
belgium              3
austria              3
new zealand          3
wales                3
colombia             3
argentina            2
japan                2
south korea          2
finland              2
portugal             2
cameroon             2
czech republic       2
iceland              2
ukraine              2
ireland              2
china                2
thailand             2
papua new guinea     2
chile                2
russia               2
paraguay             2
zambia               1
new caledonia        1
ghana                1
serbia               1
romania              1
tonga                1
jamaica              1
albania              1
slovenia             1
nigeria              1
poland               1
south africa         1
venezuela            1
belarus              1
panama               1
costa rica           1
mexico               1
Name: Team_i, dtype: int64

In [203]:
test=pd.concat([iwinner,jwinner])
test

0            china
3         thailand
5         thailand
6            japan
11     south korea
          ...
304        austria
307       portugal
309        england
312        denmark
322          italy
Length: 276, dtype: object

In [204]:
x=test.value_counts().sort_values(ascending=False)

In [205]:
y=x.reset_index()

In [206]:
z=y.iloc[0]["index"].title()

In [209]:
print(z+" has won maximum number of games.")

England has won maximum number of games.