Determine the items of clothing that have the highest average rating. In your analysis, include 
1) only items of clothing that have at least 10 positive feedback reviews and 
2) the five highest rated clothing items from each class

In [60]:
import pandas as pd

In [61]:
df=pd.read_csv("Womens Clothing E-Commerce Reviews.csv")
df=pd.DataFrame(df)
reviews=df

In [62]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [63]:
reviews.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [64]:
reviews.drop(columns=['Unnamed: 0','Age', 'Title', 'Review Text','Recommended IND','Division Name',
       'Department Name'],inplace=True)

In [65]:
reviews=reviews[reviews["Positive Feedback Count"]>=10]
reviews

       Clothing ID  Rating  Positive Feedback Count Class Name
10            1077       3                       14    Dresses
21            1080       4                       14    Dresses
53             862       5                       34      Knits
70             845       4                       10    Blouses
95             863       5                       14      Knits
...            ...     ...                      ...        ...
23422          854       3                       11      Knits
23427          854       2                       65      Knits
23441         1104       5                       25    Dresses
23467         1104       5                       23    Dresses
23485         1104       5                       22    Dresses

[1567 rows x 4 columns]

In [66]:
output=reviews.groupby("Class Name").apply(lambda x:x.nlargest(5,"Rating"))[["Class Name","Clothing ID","Rating","Positive Feedback Count"]]

In [67]:
output.count()

Class Name                 83
Clothing ID                83
Rating                     83
Positive Feedback Count    83
dtype: int64

In [69]:
output.to_csv("output_Womens Clothing E-Commerce Reviews.csv",index=False)